
QPushButton {
    border: none;
}

QPushButton#minBtn:hover {
    background: #7d7d7d;
}

QPushButton#closeBtn:hover {
    background: #BF4829;
}

QPushButton#minBtn:pressed {
    background-color: #aaaaaa;
}

QPushButton#closeBtn:pressed {
    background-color: #f16a48;
}
